target/
.idea
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.classpath
*.iml
**/.attach_pid*
*.orig
.project
.settings
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/5.2.1/executionHistory/executionHistory.lock
/.gradle/5.2.1/executionHistory/executionHistory.bin
/.gradle/5.2.1/fileHashes/fileHashes.bin
/.gradle/5.2.1/fileHashes/fileHashes.lock
/.gradle/5.2.1/fileContent/fileContent.lock
/.gradle/vcs-1/gc.properties
/.gradle/5.2.1/javaCompile/javaCompile.lock
/.gradle/5.2.1/fileHashes/resourceHashesCache.bin
